* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px black solid;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    gap: 5px;
    place-content: center;
}

.field {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    background-color: #f0f0f0;
    cursor: pointer;
}

.result {
    font-size: 5em;
}

#startBtn {
    font-size: 5em;
}

.statusBar {
    font-size: 5em;
}