* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.orbitron-robot {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

.gameScreen {
    height: 100dvh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #121e31;
    color: #9da5ae;
    font-family: orbitron;
    overflow: hidden; 
}

.container {
    height: 70vh;
    width: 100vw;
    display: grid;
    gap: 5px;
    place-content: center;   
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100vmin;
    height: 100vmin;
}

.field {
    aspect-ratio: 1 / 1; /* Ensures each cell is a perfect square */
    width: 100%; /* Stretch the cell within the grid */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #9da5ae;
    background-color: #121e31;
    cursor: pointer;
    position: relative;
    box-shadow: 0px 0px 5px white;
}

.playerSelectButton, 
.playerSelectButtonTwo {
    width: 40vw;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: 35vh;
    left: 30vw;
}

.playerSelectButton {
    --red: #f03;
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--red);
    background: linear-gradient(to right, rgba(253, 27, 27, 0.1) 1%, transparent 40%,transparent 60% , rgba(253, 27, 27, 0.1) 100%);
    color: var(--red);
    box-shadow: inset 0 0 10px rgba(253, 27, 27, 0.4), 0 0 9px 3px rgba(253, 27, 27, 0.1);
  }
  
  .playerSelectButton:hover {
    color: #ff8282;
    box-shadow: inset 0 0 10px rgba(253, 27, 27, 0.6), 0 0 9px 3px rgba(253, 27, 27, 0.2);
  }
  
  .playerSelectButton:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(253, 27, 27, 0.1) 40%,rgba(253, 27, 27, 0.1) 60% , transparent 100%);
  }
  
  .playerSelectButton:hover:before {
    transform: translateX(15em);
  }

  .playerSelectButtonTwo {
    width: 40vw;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: 35vh;
    left: 30vw;
}

.playerSelectButtonTwo {
    --blue: #08f;
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--blue);
    background: linear-gradient(to right, rgba(61, 27, 253, 0.1) 1%, transparent 40%,transparent 60% , rgba(61, 27, 253, 0.1) 100%);
    color: var(--blue);
    box-shadow: inset 0 0 10px rgba(27, 50, 253, 0.4), 0 0 9px 3px rgba(76, 27, 253, 0.1);
  }
  
  .playerSelectButtonTwo:hover {
    color: #9982ff;
    box-shadow: inset 0 0 10px rgba(76, 27, 253, 0.6), 0 0 9px 3px rgba(76, 27, 253, 0.2);
  }
  
  .playerSelectButtonTwo:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(68, 27, 253, 0.1) 40%,rgba(87, 27, 253, 0.1) 60% , transparent 100%);
  }
  
  .playerSelectButtonTwo:hover:before {
    transform: translateX(15em);
  }

input {
    width: 60vw;
    height: 3em;
    font-size: 2em;
    color: #9da5ae;
    font-family: orbitron;
    position: absolute;
    left: 20vw;
    top: 18vh;
    background-color: rgb(28,28,30);
    box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
    border-radius: 0.4vw;
    border: none;
    outline: none;
    padding: 0.4vw;
    transition: .4s;
  }

  
  input:hover {
    box-shadow: 0 0 0 .15vw rgba(135, 207, 235, 0.186);
  }
  
  input:focus {
    box-shadow: 0 0 10px .15vw rgb(255, 255, 255);
  }

.chooseGame {
    display: flex;
    background-color: #121e31;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20%;
}

.homeScreen {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #121e31;
    color: #9da5ae;
    font-family: orbitron;
}

.topButtons {
    display: flex;
    justify-content: space-evenly;
}

#playPlayer,
#playComputer {
    font-size: 2em;
    width: 70%;
    height: 15%;
    color: #9da5ae;
    font-family: orbitron;
}

#playPlayer,
#playComputer {
    background: transparent;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    padding: 20px 30px;
    cursor: pointer;
    perspective: 30rem;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.308);
  }
  
  #playPlayer::before,
  #playComputer::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: linear-gradient(
      320deg,
      rgba(0, 140, 255, 0.678),
      rgba(128, 0, 0, 0.664)
    );
    z-index: 1;
    transition: background 3s;
  }
  
  #playPlayer:hover::before,
  #playComputer:hover::before {
    animation: rotate 1s;
    transition: all 0.5s;
  }
  
  @keyframes rotate {
    0% {
      transform: rotateX(180deg);
    }
  
    100% {
      transform: rotateX(360deg);
    }
  }
  

.homeWelcome {
    margin-top: 60%;
    
}

.homePressAny {
    font-size: 1em;
    margin-top: 20%;
}

.footer {
    margin-top: auto;
    margin-bottom: 10vh;
}

.neon {
    animation: neonAnim 2s alternate-reverse infinite;
    background: -webkit-linear-gradient(#eee, #333);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    font-size: 3em;
}
@keyframes neonAnim {
from {
    text-shadow:
      0 0 10px #08f,
      0 0 40px #08f,
      0 0 100px #08f;
  }
  to {
    text-shadow:
      0 0 5px #f03,
      0 0 20px #f03,
      0 0 60px #f03;
  }
}

/* X mark styles */
.x-mark::before {
    content: 'X';
    color: #f03;
    font-size: 3rem;
    text-shadow:
    0 0 5px #f03,
    0 0 10px #f03,
    0 0 20px #f03,
    0 0 40px #f03,
    0 0 80px #f03;
}


/* O mark styles */
.o-mark::before {
    content: 'O';
    color: #08f;
    font-size: 3rem;
    text-shadow:
    0 0 5px #08f,
    0 0 10px #08f,
    0 0 20px #08f,
    0 0 40px #08f,
    0 0 80px #08f;
}

.new-mark::before {
    animation: newMarkAnimation 0.5s ease;
}

@keyframes newMarkAnimation {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}


.result, 
.statusBar {
    font-size: 1.5rem;
    align-self: center;
    color: #08f;
    text-shadow:
        0 0 7px #08f,
        0 0 10px rgb(4, 0, 255),
        0 0 21px rgb(132, 0, 255),
        0 0 42px rgb(174, 0, 255),
        0 0 82px rgb(255, 0, 200),
        0 0 92px rgb(255, 0, 128),
        0 0 102px rgb(255, 0, 85),
        0 0 151px #f03;
}

#restartBtn {
    font-size: 1em;
    width: 80vw;
    align-self: center;
    margin-bottom: 7vh;
}

#newRound {
    visibility: hidden;
    font-size: 1.2em;
}

#resetScore {
    visibility: hidden;
    font-size: 1.2em;
}

.score  {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    color: #ff5a83;
    text-shadow:
        0 0 7px #f03,
        0 0 10px rgb(255, 0, 85),
        0 0 21px rgb(255, 0, 128),
        0 0 42px rgb(255, 0, 200),
        0 0 82px rgb(174, 0, 255),
        0 0 92px rgb(132, 0, 255),
        0 0 102px rgb(4, 0, 255),
        0 0 151px #08f;
    margin-top: 2.5vh;
}

.scoreForX,
.scoreForO {
    width: 45vw;
    display: grid;
    place-content: center;
}

.highlight {
    background-color: rgba(255, 255, 255, 0.30); 
    box-shadow: 0 0 15px 5px rgb(255, 255, 255); /* Glowing effect */
    animation: pulse 0.5s ease-in-out infinite alternate;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.01);
    }
}

.box {
    --border-size: 3px;
    --border-angle: 0turn;
    width: 100vw;
    height: 100vh;
    background-image: conic-gradient(from var(--border-angle), #213, #112 50%, #213), conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
    background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)), cover;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-animation: bg-spin 3s linear infinite;
    animation: bg-spin 3s linear infinite;
}

@-webkit-keyframes bg-spin {
    to {
        --border-angle: 1turn;
    }
}

@keyframes bg-spin {
    to {
        --border-angle: 1turn;
    }
}

.box:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}

.gameBtn {
    position: relative;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(45deg, #08f, #69007f, #f03);
    padding: 14px 25px;
    border-radius: 10px;
    font-size: 1.25em;
    cursor: pointer;
    font-family: orbitron;
  }
  
  .gameBtn span {
    position: relative;
    z-index: 1;
  }
  
  .gameBtn::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: #272727;
    border-radius: 9px;
    transition: 0.5s;
  }
  
  .gameBtn:hover::before {
    opacity: 0.7;
  }
  
  .gameBtn::after {
    content: "";
    position: absolute;
    inset: 0px;
    background: linear-gradient(45deg, #08f, #69007f, #f03);
    border-radius: 9px;
    transition: 0.5s;
    opacity: 0;
    filter: blur(20px);
  }
  
  .gameBtn:hover:after {
    opacity: 1;
  }

  @media (min-width: 1024px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .homeScreen {
        width: 100vw;
        height: 100vh;
    }
    .homeWelcome {
        margin-top: 30vh;
        font-size: 7em;
    }
    .homePressAny {
        margin-top: 20vh;
        font-size: 1.7em;
    }
    .playerSelectButton,
    .playerSelectButtonTwo {
        width: 10vw;
        aspect-ratio: 1 / 1;
        margin-left: 14vw;
    }
    .score {
        font-size: 4em;
    }
    .container {
        display: grid;
        gap: 10px;
        place-content: center;   
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        width: 50vmin;
        height: 50vmin;
        margin-left: 38vw;
    }
    #newRound {
        visibility: hidden;
        font-size: 3em;
    }
    #resetScore {
        visibility: hidden;
        font-size: 3em;
    }
}