* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px black solid;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    gap: 5px;
    place-content: center;
}

.field {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    background-color: #f0f0f0;
    cursor: pointer;
    position: relative;
}

/* X mark styles */
.x-mark::before {
    content: 'X';                 /* Display 'X' */
    color: #0400ff;               /* Orange for X */
    font-size: 3rem;              /* Adjust font size */
}

/* O mark styles */
.o-mark::before {
    content: 'O';                 /* Display 'O' */
    color: #1e90ff;               /* Blue for O */
    font-size: 3rem;              /* Adjust font size */
}

.new-mark::before {
    animation: newMarkAnimation 0.5s ease;
}

@keyframes newMarkAnimation {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}


.result {
    font-size: 5em;
}

#startBtn,
#newRound {
    font-size: 5em;
}

.statusBar {
    font-size: 5em;
}

#newRound {
    visibility: hidden;
}

.score  {
    font-size: 5em;
    display: flex;
}

.scoreForX,
.scoreForO {
    flex: 1;
}

.highlight {
    background-color: rgba(33, 255, 12, 0.658); 
    box-shadow: 0 0 15px 5px rgba(33, 255, 12, 0.658); /* Glowing effect */
    animation: pulse 0.5s ease-in-out infinite alternate;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.01);
    }
}

#resetScore {
    visibility: hidden;
    font-size: 5em;
}